/*

TOTAL {
    Variables: 6;
    Anidamos y operaciones: 6 selectores;
    Operaciones y funciones: 3 Operaciones y 0 Funciones;
    Mixins: 0 Mixins;
    Bucles: 0 Bucles:
    Includes y otras funciones: 0 includes + otras funciones;
}

*/
.letras, .listas, .parrafo-cuadro, .titulo-cuadro, .titulo-listas, .titulo-arriba {
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.titulo-arriba {
  border-bottom: 5px solid black;
  font-size: 60px;
}
.titulo-arriba:hover {
  -webkit-text-stroke: 1.5px #a05000;
}

.titulo-cuadro, .titulo-listas {
  font-size: 30px;
  -webkit-text-stroke: 1.5px black;
  color: #a05000;
}

.parrafo-cuadro {
  font-size: 20px;
}

.marco-cuadro {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  border: 15px solid #a05000;
}
.marco-cuadro:hover {
  border: 30px solid #a05000;
}

.titulo-listas {
  color: rgb(35, 172, 35);
}

.listas {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
}
.listas:hover {
  color: rgb(35, 172, 35);
}