/*

TOTAL {
    Variables: 7;
    Anidamos y extendemos: 6 selectores;
    Operaciones y funciones: 4 Operaciones y 0 Funciones;
    Mixins: 1 Mixins;
    Bucles: 3 Bucles:
    Includes y otras funciones: 12 includes + otras funciones;
}

*/

@import "components/_funciones.scss";

// Variables

$marron: #a05000;
$verde: rgb(35, 172, 35);
$tamaño_titulo_arriba: 60px;
$tamaño_titulo_cuadro: ($tamaño_titulo_arriba/2); // Operación 1
$tamaño_parrafo: ($tamaño_titulo_arriba/3); // Operación 2
$fuente_museo: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
$tamaño_marco: 15px;

// MIXINS 

@mixin centrar {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

// BODY

.letras {
    text-align: center;
    font-family: $fuente_museo;
}

.titulo-arriba {
    @extend.letras; // Selector 1: Extención
    border-bottom: 5px solid black;
    font-size: $tamaño_titulo_arriba;
    &:hover { // Selector 2: Anidación
        -webkit-text-stroke: 1.5px $marron;
    }
}

.titulo-cuadro {
    @extend.letras; // Selector 3: Extención
    font-size: $tamaño_titulo_cuadro;
    -webkit-text-stroke: 1.5px black;
    @include colorLetra($marron); // Include 1
}

.parrafo-cuadro {
    @extend.letras; // Selector 4: Extención
    font-size: $tamaño_parrafo;
}

.marco-cuadro {
    @include centrar(); // Include 2
    width: 50%;
    border: $tamaño_marco solid $marron;
    &:hover { // Selector 5: Anidación
        border: $tamaño_marco*2 solid $marron; // Operación 3
    }
}

.titulo-listas {
    @extend.titulo-cuadro;
    @include colorLetra($verde);
}

.listas {
    @extend.letras;
    @include centrar(); // Include 3
    font-size: $tamaño_titulo_cuadro/2; // Operación 4
    width: 50%;
    &:hover { // Selector 6: Anidación
        @include colorLetra($verde); // Include 4
    }
}

// BUCLES

@for $th from 0 through 5 {
    .arriba:hover {
        @include colorLetra(grey); // Include 5
    }
}

@for $th from 0 to 5 {
    .lateral:hover {
        @include colorLetra(green); // Include 6
    }
}

@for $td from 0 to 5 {
    .DWES:hover {
        @include colorLetra($verde); // Include 7
    }

    .DWEC:hover {
        @include colorLetra(rgb(175, 175, 232)); // Include 8
    }

    .DAW:hover {
        @include colorLetra(rgb(232, 104, 104)); // Include 9
    }

    .DIW:hover {
        @include colorLetra(rgba(255, 166, 0, 0.6)); // Include 10
    }

    .EMP:hover {
        @include colorLetra(rgba(255, 255, 0, 0.49)); // Include 11
    }

    .HLC:hover {
        @include colorLetra(rgba(128, 0, 128, 0.359)); // Include 12
    }
}
