/*

TOTAL {
    Variables: 7;
    Anidamos y extendemos: 6 selectores;
    Operaciones y funciones: 4 Operaciones y 0 Funciones;
    Mixins: 7 Mixins;
    Bucles: 3 Bucles:
    Includes y otras funciones: 20 includes + otras funciones;
}

*/

// Variables

$marron: #a05000;
$verde: rgb(35, 172, 35);
$tamaño_titulo_arriba: 60px;
$tamaño_titulo_cuadro: ($tamaño_titulo_arriba/2); // Operación 1
$tamaño_parrafo: ($tamaño_titulo_arriba/3); // Operación 2
$fuente_museo: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
$tamaño_marco: 15px;

// FUNCIONES

@function small($tamaño) {
    @return $tamaño-6;
}

@function medium($tamaño) {
    @return $tamaño-4;
}

@function large($tamaño) {
    @return $tamaño-2;
}


// MIXINS 

@mixin centrar {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin colorLetra($color) {
    color: $color;
}

@mixin colorBoton ($fondo) {
    background-color: $fondo;
}

@mixin decoracionBoton {
    padding: 3px;
    margin: 10px;
    box-shadow: 5px 0px rgba(0,0,0,0.5);
    border: 2px solid black;
    border-radius: 8px;
}

@mixin letraBoton {
    text-decoration: none;
    font-family: $fuente_museo;
}

@mixin hoverBoton ($fondo) {
    background-color: $fondo;
}

@mixin hoverEnlace ($letra) {
    color: $letra;
}

// BODY

.letras {
    text-align: center;
    font-family: $fuente_museo;
}

.titulo-arriba {
    @extend.letras; // Selector 1: Extención
    border-bottom: 5px solid black;
    font-size: $tamaño_titulo_arriba;
    &:hover { // Selector 2: Anidación
        -webkit-text-stroke: 1.5px $marron;
    }
}

.titulo-cuadro {
    @extend.letras; // Selector 3: Extención
    font-size: $tamaño_titulo_cuadro;
    -webkit-text-stroke: 1.5px black;
    @include colorLetra($marron); // Include 1
}

.parrafo-cuadro {
    @extend.letras; // Selector 4: Extención
    font-size: $tamaño_parrafo;
}

.marco-cuadro {
    @include centrar(); // Include 2
    width: 50%;
    border: $tamaño_marco solid $marron;
    &:hover { // Selector 5: Anidación
        border: $tamaño_marco*2 solid $marron; // Operación 3
    }
}

.titulo-listas {
    @extend.titulo-cuadro;
    @include colorLetra($verde);
}

.listas {
    @extend.letras;
    @include centrar(); // Include 3
    font-size: $tamaño_titulo_cuadro/2; // Operación 4
    width: 50%;
    &:hover { // Selector 6: Anidación
        @include colorLetra($verde); // Include 4
    }
}

.botones {
    @include centrar();
}

.boton_git,.boton_lin,.boton_cv {
    @include colorBoton (rgba(128, 128, 128, 0.236));
    @include decoracionBoton();
    &:hover{
        @include hoverBoton(blue)
    }
}

.enlace_git,.enlace_lin,.enlace_cv {
    @include colorLetra(black);
    @include letraBoton();
    &:hover{
        @include hoverEnlace(white)
    }
    font-size: $tamaño_parrafo;
}

// BUCLES

@for $th from 0 through 5 { // Bucle 1
    .arriba:hover {
        @include colorLetra(grey); 
    }
}

@for $th from 0 through 5 { // Bucle 2
    .lateral:hover {
        @include colorLetra(green); 
    }
}

@for $td from 0 through 5 { // Bucle 3
    .DWES:hover {
        @include colorLetra($verde); 
    }

    .DWEC:hover {
        @include colorLetra(rgb(175, 175, 232)); 
    }

    .DAW:hover {
        @include colorLetra(rgb(232, 104, 104)); 
    }

    .DIW:hover {
        @include colorLetra(rgba(255, 166, 0, 0.6)); 
    }

    .EMP:hover {
        @include colorLetra(rgba(255, 255, 0, 0.49)); 
    }

    .HLC:hover {
        @include colorLetra(rgba(128, 0, 128, 0.359)); 
    }
}

// PANTALLAS

@media (max-width: 600px) {

    .titulo-arriba {
        font-size: small($tamaño_titulo_arriba);
    }
    
    .titulo-cuadro {
        font-size: small($tamaño_titulo_cuadro);
    }
    
    .parrafo-cuadro {
        font-size: small($tamaño_parrafo);
    }

    .listas {
        font-size: small($tamaño_titulo_cuadro/2);
    }
    
    .enlace_git,.enlace_lin,.enlace_cv {
        font-size: small($tamaño_parrafo);
    }
}

@media (max-width: 800px) {
    
}

@media (max-width: 1200px) {

}